body{
    background-color: black;
    font-family: sans-serif;
    
}
.header  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}
nav{
    background-color: aqua;
}
nav ul li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    
    
    
}

nav ul li a {
    text-decoration: none;
    color: black ;
}

.container{
    padding: 50px;
}
.container img{
    width: 500px;
}

.container p{
    color: white;
}
