body{
    background-image: url(./img/Un\ nuevo\ día\ portadas.jpg);
    background-size: 100%;
    background-repeat: none;
    font-family: sans-serif;
    
}
.header  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    
}

nav{
    background-color: rgb(131, 16, 131);
    
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 15px;  
    font-size: 20px;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    background-color: whitesmoke;
    
}


nav ul li:hover {
    background-color: blueviolet;
}

.container{
    padding: 50px;
    background-color: grey;
    border-radius: 2%;
}
.container img{
    width: 500px;
}

.container p{
    color: white;
    font-size: 30px;
}
